input {
    position: relative;
}

.title {
    text-align: left;
    color: rgb(184, 174, 174);
    margin: 0 0 1rem 0;
}

.mediaChooser {
    font-size: 1.5rem;
}

.list {
    list-style-type: none;
    margin: auto;
    padding-left: 0; 
    display: block;
}