.imageContainer {
    width: 48rem;
    height: 27rem;
}

img {
    width: 100%;
    height: 100%;
    border: solid;
    border-width: 4rem;
    border-color: rgb(37, 37, 44);
    box-sizing: border-box;
}